/*header-NavigationBarMenuAndHeaderLogo.css*/


/****************************************************************************************************************************************************************************/
/* HEADER */
.header{
  position:sticky;
  top:0;
  z-index:10;
  background: linear-gradient(to bottom, #e81414 0%, #e47e10 100%);
  transition: background-position 0.6s ease;

  height: 10svh;

  border-bottom: 1px solid var(--orange-500);
}

.header-container{
  display:flex;
  align-items:center;
  justify-content:space-between;

  width:min(99%, var(--max-width)); /* 🟢 modern clamp alternative */
  margin-inline:auto;

  padding-top: var(--space-sm);
  padding-right: var(--space-lg);
  padding-bottom: var(--space-sm);
  padding-left: var(--space-lg);


  gap:var(--space-md);

}



/****************************************************************************************************************************************************************************/

/* LOGO ANIMATION BASE */
.logo{
  position: relative;
  display:flex;
  align-items:center;

}

.logo-image{
  height: 5ch;
}






/****************************************************************************************************************************************************************************/



/****************************************************************************************************************************************************************************/


/****************************************************************************************************************************************************************************/




/****************************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************************/
